ampd_url = "http://127.0.0.1:{{ amplifier.ampd.ports.grpc_port }}"
chain_name = "hyperliquid"

[monitoring_server]
bind_address="0.0.0.0:{{ amplifier.hyperliquid.ports.monitoring_server_bind_addr }}"
channel_size="1000"
enabled="true"
