ampd_url = "127.0.0.1:{{ amplifier.ampd.ports.grpc_port }}"
chain_name = "plume"

[monitoring_server]
bind_address="0.0.0.0:{{ amplifier.plume.ports.monitoring_server_bind_addr }}"
channel_size="1000"
enabled="true"
