tm_jsonrpc = "{{ vault.testnet.ampd.axelar.rpc_url }}"
tm_grpc = "{{ vault.testnet.ampd.axelar.grpc_url }}"
tm_grpc_timeout = "5s"
event_buffer_cap = 100000
health_check_bind_addr = "127.0.0.0:{{ amplifier.ampd.ports.health_check_bind_addr }}"

[service_registry]
cosmwasm_contract = "axelar1rpj2jjrv3vpugx9ake9kgk3s2kgwt0y60wtkmcgfml5m3et0mrls6nct9m"

[broadcast]
batch_gas_limit = "20000000"
broadcast_interval = "1s"
chain_id = "axelar-testnet-lisbon-3"
gas_adjustment = "2"
gas_price = "0.007uaxl"
queue_cap = "1000"
tx_fetch_interval = "1000ms"
tx_fetch_max_retries = "15"
tx_confirmation_buffer_size = "10"
tx_confirmation_queue_cap = "1000"

[tofnd_config]
batch_gas_limit = "10000000"
key_uid = "axelar"
party_uid = "ampd"
url = "http://127.0.0.1:{{ amplifier.tofnd.ports.default_port }}"
timeout = "3s"

[grpc]
ip_addr = '127.0.0.1'
port = {{ amplifier.ampd.ports.grpc_port }}
global_concurrency_limit = 1024
concurrency_limit_per_connection = 32
request_timeout = '30s'
blockchain_service.chains=[]

[[handlers]]
chain_name="test-sepolia"
cosmwasm_contract="axelar14a4ar5jh7ue4wg28jwsspf23r8k68j7g5d6d3fsttrhp42ajn4xq6zayy5"
type="MultisigSigner"

[[handlers]]
chain_name = "test-sepolia"
chain_rpc_url = "{{ vault.testnet.ampd.eth.rpc_url }}"
cosmwasm_contract = "axelar1r4rmvn83vrfj4evy5l8cv2nat2v0whm36ds3crn2mhlq8ufmhvts9467zz"
chain_finalization = "RPCFinalizedBlock"
type = "EvmMsgVerifier"

[[handlers]]
chain_name = "test-sepolia"
chain_rpc_url = "{{ vault.testnet.ampd.eth.rpc_url }}"
cosmwasm_contract = "axelar1r4rmvn83vrfj4evy5l8cv2nat2v0whm36ds3crn2mhlq8ufmhvts9467zz"
chain_finalization = "RPCFinalizedBlock"
type = "EvmVerifierSetVerifier"

[[handlers]]
chain_name="test-avalanche"
cosmwasm_contract="axelar14a4ar5jh7ue4wg28jwsspf23r8k68j7g5d6d3fsttrhp42ajn4xq6zayy5"
type="MultisigSigner"

[[handlers]]
chain_name = "test-avalanche"
chain_rpc_url = "{{ vault.testnet.ampd.avalanche.rpc_url }}"
cosmwasm_contract = "axelar1hupk5du59cgu4ps5s637rhakwsq0060ycdp57j2ccevna7wqqzrqnfrr0p"
chain_finalization = "ConfirmationHeight"
type = "EvmMsgVerifier"

[[handlers]]
chain_name = "test-avalanche"
chain_rpc_url = "{{ vault.testnet.ampd.avalanche.rpc_url }}"
cosmwasm_contract = "axelar1hupk5du59cgu4ps5s637rhakwsq0060ycdp57j2ccevna7wqqzrqnfrr0p"
chain_finalization = "ConfirmationHeight"
type = "EvmVerifierSetVerifier"

# FLOW

[[handlers]]
chain_name="flow"
cosmwasm_contract="axelar14a4ar5jh7ue4wg28jwsspf23r8k68j7g5d6d3fsttrhp42ajn4xq6zayy5"
type="MultisigSigner"

[[handlers]]
chain_name = "flow"
chain_rpc_url = "{{ vault.testnet.ampd.flow.rpc_url }}"
cosmwasm_contract = "axelar1kkqdsqvwq9a7p9fj0w89wpx2m2t0vrxl782aslhq0kdw2xxd2aesv3un04"
chain_finalization = "RPCFinalizedBlock"
type = "EvmMsgVerifier"

[[handlers]]
chain_name = "flow"
chain_rpc_url = "{{ vault.testnet.ampd.flow.rpc_url }}"
cosmwasm_contract = "axelar1kkqdsqvwq9a7p9fj0w89wpx2m2t0vrxl782aslhq0kdw2xxd2aesv3un04"
chain_finalization = "RPCFinalizedBlock"
type = "EvmVerifierSetVerifier"

# SUI

[[handlers]]
chain_name="sui"
cosmwasm_contract="axelar14a4ar5jh7ue4wg28jwsspf23r8k68j7g5d6d3fsttrhp42ajn4xq6zayy5"
type="MultisigSigner"

[[handlers]]
chain_name = "sui"
rpc_url = "{{ vault.testnet.ampd.sui.rpc_url }}"
cosmwasm_contract = "axelar1sykyha8kzf35kc5hplqk76kdufntjn6w45ntwlevwxp74dqr3rvsq7fazh"
type = "SuiMsgVerifier"

[[handlers]]
chain_name = "sui"
rpc_url = "{{ vault.testnet.ampd.sui.rpc_url }}"
cosmwasm_contract = "axelar1sykyha8kzf35kc5hplqk76kdufntjn6w45ntwlevwxp74dqr3rvsq7fazh"
type = "SuiVerifierSetVerifier"


# STELLAR

[[handlers]]
chain_name="stellar-2025-q1"
cosmwasm_contract="axelar14a4ar5jh7ue4wg28jwsspf23r8k68j7g5d6d3fsttrhp42ajn4xq6zayy5"
type="MultisigSigner"

[[handlers]]
type="StellarMsgVerifier"
cosmwasm_contract="axelar1a4wt84rllhuwpdvymj4tql6cugfsmdmau9ufmzcm329yx9st96eqx05uam"
rpc_url="{{ vault.testnet.ampd.stellar.rpc_url }}"

[[handlers]]
type="StellarVerifierSetVerifier"
cosmwasm_contract="axelar1a4wt84rllhuwpdvymj4tql6cugfsmdmau9ufmzcm329yx9st96eqx05uam"
rpc_url="{{ vault.testnet.ampd.stellar.rpc_url }}"

# XRPL

[[handlers]]
chain_name="xrpl"
chain_rpc_url="{{ vault.testnet.ampd.xrpl.rpc_url }}"
cosmwasm_contract="axelar1pnynr6wnmchutkv6490mdqqxkz54fnrtmq8krqhvglhsqhmu7wzsnc86sy"
type="XRPLMsgVerifier"

[[handlers]]
chain_name="xrpl"
cosmwasm_contract="axelar14a4ar5jh7ue4wg28jwsspf23r8k68j7g5d6d3fsttrhp42ajn4xq6zayy5"
type="XRPLMultisigSigner"

# XRPL EVM

[[handlers]]
chain_name="xrpl-evm"
cosmwasm_contract="axelar14a4ar5jh7ue4wg28jwsspf23r8k68j7g5d6d3fsttrhp42ajn4xq6zayy5"
type="MultisigSigner"

[[handlers]]
chain_finalization="RPCFinalizedBlock"
chain_name="xrpl-evm"
chain_rpc_url="{{ vault.testnet.ampd.xrpl_evm.rpc_url }}"
cosmwasm_contract="axelar1q8kn9t39ddpce42atk0d6wpdudr6djqxmz689m3nxy92ck0nnftqxfsuyk"
type="EvmMsgVerifier"

[[handlers]]
chain_finalization="RPCFinalizedBlock"
chain_name="xrpl-evm"
chain_rpc_url="{{ vault.testnet.ampd.xrpl_evm.rpc_url }}"
cosmwasm_contract="axelar1q8kn9t39ddpce42atk0d6wpdudr6djqxmz689m3nxy92ck0nnftqxfsuyk"
type="EvmVerifierSetVerifier"

# Hyperliquid
 
[[handlers]]
type="EvmMsgVerifier"
chain_name="hyperliquid"
chain_finalization="RPCFinalizedBlock"
chain_rpc_url="{{ vault.testnet.ampd.hyperliquid.rpc_url }}"
cosmwasm_contract="axelar1n64vk7l3zagh2eadkuhl7602lxluu86dn9smfxyp7c2e4v8pqj5sv4ypjr"

[[handlers]]
type="EvmVerifierSetVerifier"
chain_name="hyperliquid"
chain_finalization="RPCFinalizedBlock"
chain_rpc_url="{{ vault.testnet.ampd.hyperliquid.rpc_url }}"
cosmwasm_contract="axelar1n64vk7l3zagh2eadkuhl7602lxluu86dn9smfxyp7c2e4v8pqj5sv4ypjr"

# Plume

[[handlers]]
type="EvmMsgVerifier"
chain_name="plume"
chain_finalization="RPCFinalizedBlock"
chain_rpc_url="{{ vault.testnet.ampd.plume.rpc_url }}"
cosmwasm_contract="axelar1nrdqke6tcxjuymg5gyd9x3yg35n3wrgarnj3sqskp98z2xnvlx9q82f63t"

[[handlers]]
type="EvmVerifierSetVerifier"
chain_name="plume"
chain_finalization="RPCFinalizedBlock"
chain_rpc_url="{{ vault.testnet.ampd.plume.rpc_url }}"
cosmwasm_contract="axelar1nrdqke6tcxjuymg5gyd9x3yg35n3wrgarnj3sqskp98z2xnvlx9q82f63t"

# Berachain

[[handlers]]
type="MultisigSigner"
chain_name="berachain"
cosmwasm_contract="axelar14a4ar5jh7ue4wg28jwsspf23r8k68j7g5d6d3fsttrhp42ajn4xq6zayy5"

[[handlers]]
type="EvmMsgVerifier"
chain_finalization="RPCFinalizedBlock"
chain_name="berachain"
chain_rpc_url="{{ vault.testnet.ampd.berachain.rpc_url }}"
cosmwasm_contract="axelar1xx6xdw6mwmfl6u2jygq0zfx2q6uyc8emtt29j9wg78l2l4p739nqmwsgal"

[[handlers]]
type="EvmVerifierSetVerifier"
chain_finalization="RPCFinalizedBlock"
chain_name="berachain"
chain_rpc_url="{{ vault.testnet.ampd.berachain.rpc_url }}"
cosmwasm_contract="axelar1xx6xdw6mwmfl6u2jygq0zfx2q6uyc8emtt29j9wg78l2l4p739nqmwsgal"
